@import "tailwindcss";

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  margin: 0; /* zerujemy marginesy, żeby gradient zaczął się od samej krawędzi */
  min-height: 100vh; /* co najmniej wysokość ekranu */
  background-image: linear-gradient(
    to bottom,
    #f0eafc,
    /* Tailwind blue-500 */ #8b5cf6,
    /* Tailwind purple-500 */ #f538b9 /* Tailwind pink-500  */
  );
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
